[submodule "1-Two-Sum-CSharp"]
	path = 1-Two-Sum-CSharp
	url = https://github.com/FrizLeetRepos/1-Two-Sum-CSharp
[submodule "2-Add-Two-Numbers-CSharp"]
	path = 2-Add-Two-Numbers-CSharp
	url = https://github.com/FrizLeetRepos/2-Add-Two-Numbers-CSharp