[submodule "1-Two-Sum-CSharp"]
	path = 1-Two-Sum-CSharp
	url = https://github.com/FrizLeetRepos/1-Two-Sum-CSharp
[submodule "2-Add-Two-Numbers-CSharp"]
	path = 2-Add-Two-Numbers-CSharp
	url = https://github.com/FrizLeetRepos/2-Add-Two-Numbers-CSharp
[submodule "3-Longest-Substring-Without-Repeating-Characters-CSharp"]
	path = 3-Longest-Substring-Without-Repeating-Characters-CSharp
	url = https://github.com/FrizLeetRepos/3-Longest-Substring-Without-Repeating-Characters-CSharp
[submodule "4-Median-of-Two-Sorted-Arrays-CSharp"]
	path = 4-Median-of-Two-Sorted-Arrays-CSharp
	url = https://github.com/FrizLeetRepos/4-Median-of-Two-Sorted-Arrays-CSharp
[submodule "5-Longest-Palindromic-Substring-CSharp"]
	path = 5-Longest-Palindromic-Substring-CSharp
	url = https://github.com/FrizLeetRepos/5-Longest-Palindromic-Substring-CSharp
